<div class="center jumbotron">
<% provide(:title, "Home") %>
<h1>Anna Muzykina </h1>
<h2>Amazing developer</h2>
<p>
  This is the home page for the
  <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
</p>
<%= link_to "Sign up now!", '#', class: "btn btn-lg bt-primary" %>
</div>



